<div class="header">
        <div class="w3-row">
                <div class="w3-third w3-container back" (click)="change('list')">
                        <img src="../../assets/img/ic_webBack@2x.png" *ngIf="type == 'view'" class="icon" >
                </div>
                <div class="w3-third w3-container text">
                        Lunch Tyme
                </div>
                <div class="w3-third w3-container map">
                        <img src="../../assets/img/icon_map@2x.png" class="icon" width="30"/>
                </div>
        </div>
</div>